*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
	height: max-content;
	width: max-content;
}
a{
	height: max-content;
	width: max-content;
}
.flex_centro{
	text-align: center;
}
.inline_flex_centro{
	display: inline-flex;
	text-align: center;
	height: max-content;
	width: max-content;
}
