*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
#menu{
	padding: 0px 20px;
	list-style: none;
	height: max-content;
	width: max-content;
	border: 2px solid black;

}
#imagem{
	width: 60%;
}
.back_menu{
	margin: 20px;
	align-items: center;
}
.background_verde{
	background-color: #91d3bd;
}
.inline_flex_centro{
	display: inline-flex;
	text-align: center;
	align-items: center;
	height: max-content;
	width: max-content;
}
.tamanho_min{
	height: max-content;
	width: max-content;
}
.letra_branca{
	color: white;
}
